
header{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
}

header {
  padding-top: 70px;
}
header .icon_reward{
  padding-right: 10px;
}
header .icon_reward a{
  display: flex;
  align-items: center;
  justify-content: center;
}

header .nav_sub{
  position: fixed;
  top: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 5%;
  background-color: #ffffff;
}

header .nav_sub a{
  text-decoration: none;
  text-transform: uppercase;
}

header .nav_sub .noti{
  flex: 1;
  overflow-x: hidden;
  margin: 0 2%;
}
header .nav_sub .noti .text{
  display: flex;
  gap: 24px;
  align-items: center;
  animation: scroll-left 60s linear infinite;
  white-space: nowrap;
}
header .nav_sub .noti .text img{
  width: 50px;
}
header .nav_sub .noti span{
  display: flex;
  align-items: center;
  color: #00C2FF;
  font-size: 22px;
  font-weight: 800;
}
header .nav_sub .noti .text span{
  flex-shrink: 0;
  font-size: 12px;
  font-weight: 900;
}

header .nav_sub .noti .bobby{
  font-size: 22px !important;
}
@keyframes scroll-left {
  0% {
      transform: translateX(0%);
  }

  100% {
      transform: translateX(-7800px);
  }
}
header .nav_sub .right{
  display: flex;
  align-items: center;
  gap: 20px;
}
header .nav_sub .right .languages{
  display: flex;  
  align-items: center;
  justify-content: center;
}
header .nav_sub .right .languages svg{
  width: 24px;
  color: #000;
}
header .nav_sub .right .signin a{
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  font-weight: 600;
  font-size: 14px;
}
header .nav_sub .right .btn{
  border: 2px solid #00C2FF;
  overflow: hidden;
  border-radius: 999px;
}
header .nav_sub .right .btn span{
  cursor: pointer;
  font-size: 14px;
  display: inline-block;
  text-transform: uppercase;
  padding: 10px 18px 9px;
  line-height: 1;
  background: #00C2FF;
  color: #fff;
  font-weight: 800;
}
header .nav_sub .right .btn a{
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  padding: 10px 18px 9px;
  line-height: 1;
  background: #00C2FF;
  color: #fff;
  font-weight: 800;
}



header .nav_sub .right .account{
  position: relative;
  display: flex;
  border: 1px solid #00C2FF;
  border-radius: 999px;
  padding: 4px 12px;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
header .nav_sub .right .account .accountId{
  font-size: 16px;
  font-weight: 600;
  color: #000;
}
header .nav_sub .right .account .avatar{
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  outline: 1px solid #00C2FF;
  overflow: hidden;
}
header .nav_sub .right .account .avatar img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
header .nav_sub .right .account .dropdown{
  display: none;
  position: absolute;
  top: 44px;
  right: 0;
  background-color: #fff;
  border-radius: 10px;
  width: 200px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  padding: 8px 10px;
  z-index: 999;
}
header .nav_sub .right .account.active .dropdown{
  display: block;
}

header .nav_sub .right .account .dropdown .btn-item{
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 12px;
  border-radius: 8px;
  text-decoration: none;
  color: #000;
  font-size: 14px;
  font-weight: 600;

}
header .nav_sub .right .account .dropdown .btn-item:hover{
  background-color: #00C2FF;
  color: #fff;
}





header nav.main{
  position: fixed;
  top: 69px;
  z-index: 9999;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background-color: #00C2FF;
}
header nav.main .navbar{
  display: none;
}
header nav.main .close{
  display: none;
}
header nav.main ul{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
header nav.main ul img{
  display: none;
}
header nav.main ul li{
  list-style: none;

}
header nav.main ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}


@media only screen and (max-width: 1020px){
    header {
        padding-top: 60px;
    }
    header .nav_sub .noti .text span{
        font-size: 22px;
        font-weight: 800;
    }
    header .nav_sub .noti .text img{
        width: 40px;
    }
    header nav.main{
        top: 62px;
    }
}



@media only screen and (max-width: 640px){
    header {
        padding-top:12px;
    }
    header .nav_sub .right .languages {
        display: none;
    }
   
    header .nav_sub .noti .text span{
        font-size:16px;
        font-weight: 800;
    }
    header .nav_sub .noti .text img{
        width: 30px;
    }
    header .nav_sub .noti .text{
        display: flex;
        align-items: center;
        animation: scroll-left 80s linear infinite;
    }
    header nav.main{
        position: relative;
        width: 100%;
        background-color: transparent;
        padding: 0 5%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    header nav.main.active{
        background-color: #FF7A00;
        height: calc(100vh - 62px);
        top: 62px;
        z-index: 999;
        justify-content: center;
        position: fixed;
    }
    header nav.main .navbar{
        position: fixed;
        top: 68px;
        border: 1.3px solid #000;
        background-color: #fff;
        padding: 10px;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        /* position: absolute;
        left: 10px; */
    }
    header nav.main .navbar svg{
        width: 24px;
        height: 24px;
    }
    header nav.main.active .close{
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 20px;
        left: 20px;
    }
    header nav.main .close svg{
        width: 28px;
        color: #fff;
        height: 28px;
    }
    header nav.main.active .navbar{
        display: none;
    }
    
    header nav.main ul{
        display: none;
    }
    header nav.main.active ul{
        display: flex;
        flex-direction: column;
    }
    header nav.main.active ul img{
        display: block;
        position: absolute;
        bottom: -20px;
        height: 200px;
    }
    header .nav_sub .right .icon_reward{
        display: none;
    }
}